<div id="admin" class="module wide">
    <h1>{{ (entity_path ~ '.list')|translate }}</h1>
    <div>
        <a href="{{ path(new_route) }}">{{ (entity_path ~ '.new')|translate }}</a>
    </div>
    <br/>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {{ form_start(form) }}
    <div class="display_table">
        <div class="display_header_group">
            <div class="display_row">
                <div class="display_cell">#</div>
                {% if entities|length  %}
                    {% for field in entities|first.fields %}
                        {% if attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') is defined 
                            and attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') %}
                            <div class="display_cell">{{ field['fieldName'] }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for association in entities|first.associations %}
                        {% if attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') is defined 
                            and attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') %}
                            <div class="display_cell">{{ association['fieldName'] }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="display_row_group">
            {% set row_class = "" %}
            {% set row_title = "" %}
            {% set has_content = 0 %}
            {% for entity in entities %}
                {#{% set row_class = "" %}#}
                {% set row_title = "" %}
                {% for field in entity.fields %}
                    {% if field['fieldName'] == 'published' %}
                        {#{% if field['value'] == 0 %}#}
                            {#{% set published = 0 %}#}
                            {#&#123;&#35;{% set row_class = row_class ~ " unpublished" %}&#35;&#125;#}
                        {#{% else %}#}
                            {#{% set published = 1 %}#}
                        {#{% endif %}#}
                    {#{% elseif field['fieldName'] == 'tags' %}#}
                        {#{% if published %}#}
                            {#{% for tag in entity.tags %}#}
                                {#{% if tag.name == 'fast' %}#}
                                    {#{% set row_class = row_class ~ " fast" %}#}
                                {#{% elseif tag.name == 'high' %}#}
                                    {#{% set row_class = row_class ~ " high" %}#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#{% endif %}#}
                    {% elseif field['fieldName'] == 'content' %}
                        {% set row_title = field['value'] %}
                        {% if field['value']|length %}
                            {% set has_content = 1 %}
                        {% else %}
                            {% set has_content = 0 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="display_row {{ row_class }}" title="{{ row_title }}">
                    <div class="display_cell">
                    {{ form_widget(form.selectors[entity.fields.id.value]) }}
                    </div>
                    {% for field in entity.fields %}
                        {% if attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') is defined
                            and attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') %}
                            {% if field['fieldName'] == 'id' %}
                                <div class="display_cell">
                                {% set id = field['value'] %}
                                <a href="{{ path(edit_route, { 'id' : field['value'] }) }}">{{ field['value'] }}</a>
                                </div>
                            {% elseif field['fieldName'] == 'path' %}
                                <div class="display_cell">
                                <a href="{{ path(edit_route, { 'id' : entity.id }) }}">
                                    <img src="{{ entity.webpath(100) }}" width="100px"/>
                                </a>
                                </div>
                            {% elseif field['fieldName'] == 'published' %}
                                {% if field['value'] == 0 %}
                                    <div class="display_cell unpublished">
                                    <a href="{{ path(edit_route ~ 'publish', { 'id' : id }) }}">No</a>
                                    </div>
                                {% else %}
                                    <div class="display_cell published">
                                    <a href="{{ path(edit_route ~ 'unpublish', { 'id' : id }) }}">Sí</a>
                                    </div>
                                {% endif %}
                            {% elseif field['type'] == 'array' %}
                                <div class="display_cell">
                                {% if attribute(entity, 'get' ~ field['fieldName'] ~ 'Multiple') %}
                                    {% for att in attribute(entity, 'get' ~ field['fieldName']) %}
                                        {{ att }} -
                                    {% endfor %}
                                {% else %}
                                    {{ attribute(entity, 'get' ~ field['fieldName'] ~ 'Choices', {"key" : field['value']}) }}
                                {% endif %}
                                </div>
                            {% elseif field['fieldName'] == 'tags' %}
                                <div class="display_cell">
                                {% for tag in entity.tags %}
                                <div class="display_row">
                                    <div style="width:100%;border-radius:3px;padding:3px;margin-bottom:3px;{{ stringToColor(tag.name) }}">{{ tag.name }}</div>
                                </div>
                                {% endfor %}
                                </div>
                            {% elseif field['type'] == 'datetime' %}
                                <div class="display_cell">
                                {% if field['value'] is not null %}
                                    {{ field['value']|date('d-m-Y H:i') }}
                                {% endif %}
                                </div>
                            {% elseif field['type'] == 'date' %}
                                <div class="display_cell">
                                {{ field['value']|date('d-m-Y') }}
                                </div>
                            {% elseif field['type'] == 'time' %}
                                <div class="display_cell">
                                {{ field['value']|date('H:i') }}
                                </div>
                            {% elseif field['fieldName'] == 'name' %}
                                <div class="display_cell">
                                    {% if field['value'] is defined %}
                                        {{ field['value'] }} {% if has_content %}...{% endif %}
                                    {% endif %}
                                </div>
                            {% elseif field['fieldName'] == 'content' %}
                                <div class="display_cell">
                                    {% if field['value'] is defined %}
                                        {{ field['value'] | raw }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="display_cell">
                                {% if field['value'] is defined %}
                                    {{ field['value'] }}
                                {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for association in entity.associations %}
                        {% if attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') is defined
                            and attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') %}
                            <div class="display_cell">
                            {% if association['fieldName'] == 'imagenes' %}
                                {% for item in association['values'] %}
                                    <a href="{{ path(edit_route, { 'id' : entity.id }) }}">
                                        <img src="{{ item.webpath(100) }}" width="100px" />
                                    </a>
                                {% endfor %}
                            {% elseif association['fieldName'] == 'category' %}
                                {% if entity.category.name is defined %}
                                    {{ entity.category.name }}
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div> {# end div class display_row #}
            {% endfor %}
        </div> {# end div class display_row_group #}

    </div> {# end div class display_table #}
    {{ form_end(form) }}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
