<div id="admin" class="module wide">
    <h1>{{ (entity_path ~ '.list')|translate }}</h1>

    <div>
        <a href="{{ path(new_route) }}">{{ (entity_path ~ '.new')|translate }}</a>
    </div>

    <br/>

    <div class="display_table">
        <div class="display_header_group">
            <div class="display_row">
                {% if entities|length  %}
                    {% for field in entities|first.fields %}
                        {% if attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') is defined 
                            and attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') %}
                            <div class="display_cell">{{ field['fieldName'] }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for association in entities|first.associations %}
                        {% if attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') is defined 
                            and attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') %}
                            <div class="display_cell">{{ association['fieldName'] }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="display_row_group">
            {% for entity in entities %}
                <div class="display_row"
                {% for field in entity.fields %}
                    {% if field['fieldName'] == 'description' %}
                         title="{{ field['value'] }}"
                    {% endif %}
                {% endfor %}
                >
                {% for field in entity.fields %}
                    {% if attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') is defined 
                        and attribute(entities|first, 'show' ~ field['fieldName'] ~ 'InPanel') %}
                        {% if field['fieldName'] == 'id' %}
                            <div class="display_cell">
                                <a href="{{ path(edit_route, { 'id' : field['value'] }) }}">{{ field['value'] }}</a>
                            </div>
                        {% elseif field['fieldName'] == 'path' %}
                            <a href="{{ path(edit_route, { 'id' : entity.id }) }}">
                                <img src="{{ entity.webpath(100) }}" width="100px"/>
                            </a>
                        {% else %}
                            {% if field['type'] == 'array' %}
                                <div class="display_cell">
                                    {% if attribute(entity, 'get' ~ field['fieldName'] ~ 'Multiple') %}
                                        {% for att in attribute(entity, 'get' ~ field['fieldName']) %}
                                            {{ att }} - 
                                        {% endfor %}
                                    {% else %}
                                        {{ attribute(entity, 'get' ~ field['fieldName'] ~ 'Choices', {"key" : field['value']}) }}
                                    {% endif %}
                                </div>
                            {% elseif field['fieldName'] == 'tags' %}
                                <div class="display_cell">
                                    {% for tag in entity.tags %}
                                        {{ tag.name }},
                                    {% endfor %}
                                </div>
                            {% elseif field['type'] == 'datetime' %}
                                {% if field['value'] is not null %}
                                <div class="display_cell">{{ field['value']|date('d-m-Y H:i') }}</div>
                                {% else %}
                                <div class="display_cell"></div>
                                {% endif %}
                            {% elseif field['type'] == 'date' %}
                                <div class="display_cell">{{ field['value']|date('d-m-Y') }}</div>
                            {% elseif field['type'] == 'time' %}
                                <div class="display_cell">{{ field['value']|date('H:i') }}</div>
                            {% else %}
                                {% if field['value'] is defined %}
                                    <div class="display_cell">{{ field['value'] }}</div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if attribute(entity, 'getPesoMin18') is defined 
                    and attribute(entity, 'getPesoMin18') %}
                    <div class="display_cell">
                        {{ entity.getPesoMin18() }}
                    </div>
                {% endif %}

                {% if attribute(entity, 'getPesoMax18') is defined 
                    and attribute(entity, 'getPesoMax18') %}
                    <div class="display_cell">
                        {{ entity.getPesoMax18() }}
                    </div>
                {% endif %}

                {% if attribute(entity, 'getPresupuesto18Min') is defined 
                    and attribute(entity, 'getPresupuesto18Min') %}
                    <div class="display_cell">
                        {{ entity.getPresupuesto18Min() }}
                    </div>
                {% endif %}

                {% if attribute(entity, 'getPresupuesto18Max') is defined 
                    and attribute(entity, 'getPresupuesto18Max') %}
                    <div class="display_cell">
                        {{ entity.getPresupuesto18Max() }}
                    </div>
                {% endif %}


                {% for association in entity.associations %}
                    {% if attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') is defined 
                        and attribute(entities|first, 'show' ~ association['fieldName'] ~ 'InPanel') %}
                        {% if association['fieldName'] == 'imagenes' %}
                            <div class="display_cell">
                                {% for item in association['values'] %}
                                    <a href="{{ path(edit_route, { 'id' : entity.id }) }}">
                                        <img src="{{ item.webpath(100) }}" width="100px" />
                                    </a>

                                {% endfor %}
                            </div>
                        {% elseif association['fieldName'] == 'category' %}
                            <div class="display_cell">
                                {% if entity.category.name is defined %}
                                    {{ entity.category.name }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
</div>
