<div id="admin" class="module">
    <h1>{{ (entity_path ~ '.new')|translate }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path(index_route) }}">{{ (entity_path ~ '.list')|translate }}</a>
        </li>
    </ul>

    {% for association in entity.associations %}
        {{ include('AppBundle:assets:OneToMany.js.twig', { 'bundle' : bundle_name|lower, 'one' : entity_name, 'many' : association.targetEntity|split('\\')|last|lower, 'manys' : association.fieldName}) }}
    {% endfor %}
</div>
