<div id="admin" class="module">
    <h1>{{ (entity_path ~ '.show')|translate }}</h1>

    <div>
        {% for field in entity.fields %}
            <div>
                <label>{{ field['fieldName'] }}:</label>
                {% if field['type'] == 'array' %}
                    {% if attribute(entity, 'get' ~ field['fieldName'] ~ 'Multiple') %}
                        {% for att in attribute(entity, 'get' ~ field['fieldName']) %}
                            {{ att }} - 
                        {% endfor %}
                    {% else %}
                        {{ attribute(entity, 'get' ~ field['fieldName'] ~ 'Choices', {"key" : field['value']}) }}
                    {% endif %}
                {% elseif field['type'] == 'datetime' %}
                    {% if field['value'] is not null %}
                        {{ field['value']|date('d-m-Y H:i') }}
                    {% endif %}
                {% elseif field['type'] == 'date' %}
                    {{ field['value']|date('d-m-Y') }}
                {% elseif field['type'] == 'time' %}
                    {{ field['value']|date('H:i') }}
                {% elseif field['fieldName'] == 'tags' %}
                    {% for tag in entity.tags  %}
                        {{ tag.name }},
                    {% endfor %}
                {% else %}
                    {{ field['value'] }}
                    {% if field['fieldName'] == 'path'%}
                        <img src="{{ entity.webpath }}" width="100px" />
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        {% for association in entity.associations %}
            {% if association['fieldName'] == 'imagenes'%}
                <div class="display_cell">{{ association['fieldName'] }}</div>
                {% for item in association['values'] %}
                    <img src="{{ item.webpath }}" width="100px" />
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <br/>
    <br/>
    <br/>
    <div>
        <a href="{{ path(index_route) }}">{{ (entity_path ~ '.list')|translate }}</a>
    </div>
    <div>
        <a href="{{ path(edit_route, { 'id': entity.id }) }}">{{ (entity_path ~ '.edit')|translate }}</a>
    </div>
    <div>
        <a href="{{ path(new_route) }}">{{ (entity_path ~ '.new')|translate }}</a>
    </div>
    <div style="float:right">
        {{ form(delete_form) }}
    </div>
</div>
