
{% if entities|length %}

    {% set prefix = '' %}
    {% if namespace is defined %}
        {% set prefix = namespace.value ~ '.' %}
    {% endif %}

    <div id="product_catalogo" class="module">
        {% if namespace is defined %}
            <a href="{{ path(prefix ~ 'edemy_main_frontpage') }}"><h2>Productos Relacionados en {{ namespace.name }}</h2></a>
        {% else %}
            <h2>Productos relacionados en nuestra web:</h2>
        {% endif %}
        <div id="products">
            {% for entity in entities %}
                <div class="product">
                    <div class="product_imagen">
                        <a href="{{ path(prefix ~ 'edemy_product_product_details', { 'slug' : entity.slug }) }}">
                            {% if entity.imagenes|first.webpath is defined %}
                                <img src="{{ entity.imagenes|first.webpath(250, null, app.request.host) }}" />
                            {% endif %}
                        </a>
                    </div>
                    <p><b>{{ entity.name }}</b><br/>

                        {% if entity.price > 0 %}
                            <meta itemprop="priceCurrency" content="EUR" />
                            {{  entity.price|number_format(2, '.') }}&nbsp;&euro;<br/>
                        {% endif %}
                        <a href="{{ path(prefix ~ 'edemy_product_product_details', { 'slug': entity.slug }) }}">Más Información</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}