{{ cdnjs('instafeed') }}

<div id="instagram" class="module">
    <div id="instafeed"></div>
</div>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        {#userId: {{  userId }},#}
        userId: 1554621116,
        clientId: '{{ clientId }}',
        accessToken: '{{ accessToken }}',
        {#template: '<a  href="{{link}}"><img style="border: 1px solid black;overflow:hidden" src="{{image}}" /></a>'#}
        resolution: 'standard_resolution',
        limit: 8
    });
    feed.run();
</script>
