<div id="math" class="module">
    <div>
        <a href={{ path('edemy_math_equation_2', { 'a' : 2, 'b' : 1, 'c' : -4 }) }}>
            {{ eq_factory.newEquation(2,1,-4).view|raw }}
        </a>
    </div>
    <div>
        <a href={{ path('edemy_math_equation_2', { 'a' : 2, 'b' : 1, 'c' : -4 }) }}>
            {{ eq_factory.newEquation(2,1,-4).view|raw }}
        </a>
    </div>
    <div>
        <a href={{ path('edemy_math_equation_2', { 'a' : 3, 'b' : 0, 'c' : 2 }) }}>
            {{ eq_factory.newEquation(3,0,2).view|raw }}
        </a>
    </div>
</div>